alembic==1.6.5
certifi==2021.5.30
charset-normalizer==2.0.3
click==7.1.2
colorama==0.4.4
coloredlogs==14.0
croniter==1.0.15
dagster==0.12.3
dnspython==1.16.0
docstring-parser==0.10
future==0.18.2
gitdb==4.0.7
GitPython==3.1.18
greenlet==1.1.0
grpcio==1.39.0
grpcio-health-checking==1.39.0
humanfriendly==9.2
idna==3.2
Jinja2==2.11.3
Mako==1.1.4
MarkupSafe==2.0.1
packaging==21.0
pendulum==2.1.2
pip-autoremove==0.9.1
protobuf==3.17.3
psutil==5.8.0
pymongo==3.12.0
pyparsing==2.4.7
pyreadline==2.1
python-dateutil==2.8.2
python-editor==1.0.4
pytzdata==2020.1
pywin32==301
PyYAML==5.4.1
requests==2.26.0
Rx==1.6.1
six==1.16.0
smmap==4.0.0
SQLAlchemy==1.4.22
tabulate==0.8.9
toposort==1.6
tqdm==4.61.2
typing-compat==0.1.0
urllib3==1.26.6
watchdog==2.1.3
